In [ ]:
file_for_reading = open('/home/marta/datascience/data1/data/Trump_tweets-sample.txt', 'r')

Imprimir os tweetes que possuem "#"

In [ ]:
for line in file_for_reading:
    if '#' in line:
        print(line)

Operação "Close", com ela é possível fechar o arquivo.

In [ ]:
file_for_reading.close()

In [ ]:
file_for_appending = open ('/home/marta/datascience/data1/data/My_tweets_are_better.txt', 'a')
file_for_appending.write ('Aparentemente não... :(\n')

file_for_appending.close()

In [ ]:
with open ('/home/marta/datascience/data1/data/My_tweets_are_better.txt', 'r') as f:
    for line in f:
        print(line)

In [ ]:
import re

starts_with_rash = 0
with open ('/home/marta/datascience/data1/data/Trump_tweets-sample.txt', 'r') as f:
    for line in f:
        if re.match("^#", line):
            print(line)
            starts_with_rash +=1
print('número de posts do Trump que iniciam com #:',starts_with_rash)

 contar a ocorrência de cada hashtag

In [ ]:
from collections import Counter

def get_hashtags (tweet):
    words = tweet.split ()
    return[word.strip(",") for word in words if '#' in word]

hashtag_counts = Counter()
with open ('/home/marta/datascience/data1/data/Trump_tweets-sample.txt', 'r') as f:
    for line in f:
        if "#" in line:
            hashtag_counts.update(get_hashtags(line.strip()))
for hashtag, count in hashtag_counts.most_common(5):
    print(hashtag, count)

In [ ]:
with open ('/home/marta/datascience/data1/data/prices.csv') as f:
    for i in range (10):
        line = f.readline()
        print (line)

In [9]:
import pandas as pd
df = pd.read_csv ('/home/marta/datascience/data1/data/prices.csv')
df

,symbol,date,open,high,low,close,volume,adj_close
0,FAX,2016-12-30,4.65,4.700000,4.610000,4.63,3498900,4.63
1,IAF,2016-12-30,5.44,5.480000,5.400000,5.42,103500,5.42
2,FCO,2016-12-30,7.91,8.010000,7.910000,7.96,64800,7.96
3,ISL,2016-12-30,16.08,16.080000,16.059999,16.07,2400,16.07
4,IF,2016-12-30,6.38,6.380000,6.310000,6.36,19100,6.36
...,...,...,...,...,...,...,...,...
5998,ZSAN,2016-12-30,0.77,0.810000,0.770000,0.78,50900,0.78
5999,ZUMZ,2016-12-30,21.90,22.190001,21.600000,21.85,280300,21.85
6000,ZIOP,2016-12-30,5.37,5.580000,5.270000,5.35,1586100,5.35
6001,ZYNE,2016-12-30,15.90,15.900000,15.400000,15.59,129500,15.59
6002,ZNGA,2016-12-30,2.58,2.600000,2.560000,2.57,7396600,2.57

In [8]:
import csv

richCompanies = dict()
with open ('/home/marta/datascience/data1/data/prices.csv', 'r') as f:
    reader = csv.DictReader(f, delimiter=',')
    for row in reader:
        symbol = row ["symbol"]
        date = row ["date"]
        closing_price = float (row["close"]) #pegar o preço de fechamento da bolsa
        if closing_price > 400:
            richCompanies[symbol] = closing_price
            print (date, symbol, closing_price)

2016-12-30 SEB 3951.98999
2016-12-30 ALX 426.869995
2016-12-30 Y 608.119995
2016-12-30 AZO 789.789978
2016-12-30 BH 473.200012
2016-12-30 CABO 621.72998
2017-01-02 ELC 26500.0
2016-12-30 ELC 26500.0
2016-12-30 GHC 511.950012
2016-12-30 GOOG 771.820007
2016-12-30 GOOGL 792.450012
2016-12-30 AMZN 749.869995
2016-12-30 ATRI 507.200012
2016-12-30 MKL 904.5
2016-12-30 MTD 418.559998
2016-12-30 NEU 423.839996
2016-12-30 NVR 1669.0
2017-01-02 SAB 197700.0
2016-12-30 SAB 197700.0
2016-12-30 HBANP 1414.969971
2016-12-30 ISRG 634.169983
2016-12-30 WTM 836.049988
2016-12-30 PCLN 1466.060059